<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>anypoint-exchange-v3</id>
            <username>~~~Client~~~</username>
            <password>${anypoint.client_id}~?~${anypoint.client_secret}</password>
        </server>
    </servers>
</settings>